@import "tailwindcss";

html,
body {
  background: #000;
  color: white;
  overflow-x: hidden;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: white;
  color: black;
}

.dark body {
  background: black;
  color: white;
}

.prose h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.prose h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.prose p {
  color: #d4d4d8;
  line-height: 1.9;
}

.prose li {
  color: #d4d4d8;
}

.prose strong {
  color: white;
}

.prose table {
  width: 100%;
  border-collapse: collapse;
}

.prose table th,
.prose table td {
  border: 1px solid #27272a;
  padding: 12px;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
