@import "tailwindcss";

html,
body {
  background: #000;
  color: white;
  overflow-x: hidden;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: white;
  color: black;
}

.dark body {
  background: black;
  color: white;
}

.prose h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.prose h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.prose p {
  color: #d4d4d8;
  line-height: 1.9;
}

.prose li {
  color: #d4d4d8;
}

.prose strong {
  color: white;
}

.prose table {
  width: 100%;
  border-collapse: collapse;
}

.prose table th,
.prose table td {
  border: 1px solid #27272a;
  padding: 12px;
}

/* .ev-filter {
  @apply w-full appearance-none rounded-lg border border-zinc-700 bg-zinc-800 py-3 pl-10 pr-10 text-sm text-white outline-none transition-all duration-300 hover:border-green-500 focus:border-green-500 focus:ring-2 focus:ring-green-500/20;
}

.ev-filter-icon-left {
  @apply absolute left-3 top-1/2 -translate-y-1/2 text-green-400;
}

.ev-filter-icon-right {
  @apply pointer-events-none absolute right-3 top-1/2 -translate-y-1/2 text-gray-400;
}

.ev-filter-wrapper {
  @apply relative w-full sm:w-56;
} */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
